<%- include('partials/header.ejs'); -%>

<body>
  <h1>Add New List</h1>
  <form action="/new" method="post">
    <p>List name</p>
    <input type="text" name="name" class="text-box">

    <p>Pick a color:</p>
    <input type="radio" name="color" id="red" value="red" />
    <label for="red"><span class="red"></span></label>

    <input type="radio" name="color" id="green" value="green" />
    <label for="green"><span class="green"></span></label>

    <input type="radio" name="color" id="yellow" value="yellow" />
    <label for="yellow"><span class="yellow"></span></label>

    <input type="radio" name="color" id="olive" value="olive" />
    <label for="olive"><span class="olive"></span></label>

    <input type="radio" name="color" id="orange" value="orange" />
    <label for="orange"><span class="orange"></span></label>

    <input type="radio" name="color" id="teal" value="indigo" />
    <label for="teal"><span class="teal"></span></label>

    <input type="radio" name="color" id="pink" value="pink" />
    <label for="pink"><span class="pink"></span></label>

    <input type="radio" name="color" id="grey" value="grey" />
    <label for="grey"><span class="grey"></span></label>

    <div class="spacer"></div>
    <button type="submit" class="add add-list-btn"> <span>Add</span></button>
  </form>
  
</body>
<%- include('partials/footer.ejs'); -%>

</html>
