body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #B6B0DB;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  color: hsl(198, 1%, 29%);
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  font-size: 130%; 
}

button.list-btn {
  border-radius: 5px;
  padding: 5px 8px;
  font-family: 'Gochi Hand', cursive;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: solid 1px;
}

.new-list-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F1F5F8;
  font-size: 16px;
  }

.container {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.main {
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.heading-img {
  position: relative;
  width: 80px;
  margin-right: 5px;
}

h1 {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: hsla(166, 100%, 50%, 0.7);
    font-size: 1.5rem;
    font-family: 'Gochi Hand', cursive;
}

.new-item {
  display: block;
  margin-bottom: 0.5rem;
} 

.form-input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius:3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #ea95e0;
  font-family: 'Gochi Hand', cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 20px;
&:focus {
  outline: none;
  border: solid 3px #ea95e0;
}
}

button.add {
    padding: 0;
    border: none;
    transform: rotate(4deg);
    transform-origin: center;
    font-family: 'Gochi Hand', cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 hsl(198, 1%, 29%);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    background-color: hsla(166, 100%, 50%, 0.7);
  }

.add span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}



.add:active, .add:focus {
  transform: translateY(4px);
  padding-bottom: 0px;
  outline: 0;
}

button.edit {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
}

.icon {
  height: 20px;
  margin-left: 10px;
}

input[type="checkbox"] {
  margin: 20px;
  margin-left: 0;
}

 .item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  font-family: 'Gochi Hand', cursive;
 }

 p {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: #00204a;
}



footer {
  position: absolute;
  bottom: 0;
  margin-top: 0px;
  flex: 0 0 auto;
  color: #fff;
  text-align: center;
}
