
* {
  box-sizing: border-box;
}

/* Input */ 
input.text-box {
  background-color: #FFF;
  opacity: 0.7;
  margin: 10px;
  color: #000;
  text-align: center;
  width: 400px;
  height: 2.2em;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  input.text-box {
    width: 200px;
  }
}

/* Colour Squares */ 
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label span {
  transform: scale(1.25);
  border: solid 1px #232B2B;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
label span.red {
  background: #FDCAD4;
}
label span.orange {
  background: #FCC89A;
}
label span.yellow {
  background: #F3D07C;
}
label span.olive {
  background: #DFE8E3;
}
label span.green {
  background: #9DCDB1;
}
label span.teal {
  background: #C2EBEF;
}
label span.pink {
  background: #F99BCF;
}
label span.grey {
  background: #C3B7BB;
}

/* Button */ 
.add-list-btn {
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 200px;
}

@media (min-width: 768px) {
  .add-button {
    padding: 0 40px;
  }
}
